
@{
    Layout = null;
}
<div class="header">
    <div class="logo"><a href="#"><img src="~/Areas/Admin2/Asset/css/images/logo.gif" alt="" title="" border="0" /></a></div>
    <div class="right_header">Welcome Admin, <a href="#">Visit site</a> | <a class="messages">(3) Đơn hàng</a> | <a href="~/Admin2/Home/Logout" class="logout">Logout</a></div>
    <div id="clock_a"></div>
</div>
