
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutMenuLeft.cshtml";
}

<div class="about">
    <div class="abt_para">
        <a href="details.html"><h3>Lorem Ipsum is simply dummy text </h3></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore orem ipsum dolor sit amet, consectetur dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
        <div class="btn top-right"><a href="details.html">View More</a></div>
    </div>
    <div class="abt_img">
        <a href="details.html"><img src="~/Asset/images/pic1.jpg"></a>
    </div>
    <div class="clear"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore orem ipsum dolor sit amet, consectetur dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuntLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore orem ipsum dolor sit amet, consectetur dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore orem ipsum dolor sit amet, consectetur dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore orem ipsum dolor sit amet, consectetur dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
    <div class="btn top-right"><a href="details.html">View More</a></div>
</div>

