@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/Admin2/Views/Shared/login.cshtml";
}
<div class="login_form">
    <h3>Admin Panel Login</h3>
    <a href="#" class="forgot_pass">Forgot password</a>
    <form action="Authentication" method="post" class="niceform">
        <fieldset>
            <dl>
                <dt><label for="email">Username:</label></dt>
                <dd><input type="text" name="acc" id="" size="54" /></dd>
            </dl>
            <dl>
                <dt><label for="password">Password:</label></dt>
                <dd><input type="password" name="pass" id="" size="54" /></dd>
            </dl>
            <dl class="submit">
                <input type="submit" name="submit" id="submit" value="Enter" />
            </dl>
        </fieldset>
    </form>
</div>

