<div class="footer-bg">
    <div class="wrap">
        <div class="footer">
            <div class="f_nav">
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Announcements</a></li>
                    <li><a href="#">Security Center</a></li>
                    <li><a href="#">Resolution Center</a></li>
                    <li><a href="#">Buyer Tools</a></li>
                    <li><a href="#">Policies</a></li>
                    <li><a href="#">Stores</a></li>
                    <li><a href="#">Site Map</a></li>
                </ul>
            </div>
            <div class="footer1">
                <p>All Rights Reserved | Design by&nbsp; <a href="#"> W3Layouts</a></p>
            </div>
        </div>
    </div>
</div>
