<div class="header">
    <div class="logo">
        <a href="#"><img src="~/Asset/images/logo.png" alt=""> </a>
    </div>
    <div class="header-right">
        <div class="contact-info">
            <ul>
                <li>Help line</li>
                <li>+123-456-78901</li>
            </ul>
        </div>
        <div class="menu">
            <ul class="nav">
                <li class="active"><a href="#" title="Home">Home</a></li>
                <li><a href="../Home/About">About</a></li>
                <li><a href="store.html">Store</a></li>
                <li><a href="../Home/Contact">Contact</a></li>
                <li><a href="index.html">Subscribe</a></li>
                <li><a href="index.html">Customer Support</a></li>
                <li><a href="index.html">My Account</a></li>
                <div class="clear"></div>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>
