@using SmartSale.Until;
<div class="hdr-btm">
    <div class="hdr-btm-bg"></div>
    <div class="hdr-btm-left">
        @*<div class="search">
                <form>
                    <input type="text" value="keyword here" onfocus="this.value = ''" onblur="if (this.value == '') {this.value = 'keyword here'}">
                    <input type="submit" value="Search">
                </form>
            </div>
            <div class="drp-dwn">
                <select class="custom-select" id="select-1">
                    <option selected="selected">Catogories</option>
                    <option>The Lipsum</option>
                    <option>Chuin Of</option>
                    <option>Maxico</option>
                    <option>Londov</option>
                    <option>Ifdfn</option>
                </select>
            </div>*@
        <div class="drp-dwn">
          @Html.Action("Cart","Common")
        </div>
        <div class="txt-right">
            <h3><a>Hello </a></h3>
        </div>
        <div class="clear"></div>
    </div>
</div>
